<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  <title> Account Information </title>
  <!--  Displays account information
          Display account balance
          Displays current address
          Displays current card
          Go to shopping page button
          Go to Orders button
          Edit card button
          Edit address button -->




</head>

<body>
  <header>
    <div class="container">
      <h1 class="logo">Account Information</h1>
    </div>
  </header>

  <h1> Account Information </h1>
<!-- current addresses -->
<p>Balance: {{ user['balance'] }}</p>
<table>
    <thead>
      <tr>
        <th>Street Number</th>
        <th>Street Name</th>
        <th>City</th>
        <th>State</th>
        <th>Zip Code</th>
        <th>Edit address</th>
		<th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <!-- python function that iterates through every single address for the customer-->

      {% for address in get_customer_addresses_todict(user['id']) %}
      <tr>
        <th>{{ address['street_num'] }}</th>
        <th>{{ address['street_name'] }}</th>
        <th>{{ address['city'] }}</th>
        <th>{{ address['state'] }}</th>
        <th>{{ address['zip'] }}</th>
        <th>
          <form method="GET" action="/editaddress/{{ address['id'] }}/">
            <input type = "submit" value = "Edit Address" />
          </form>
        </th>
		<th>
          <form method="POST" action="/delete_address/{{ address['id'] }}/">
            <input type = "submit" value = "Delete Address" />
          </form>
        </th>
      </tr>
     {% endfor %}
    </tbody>
  </table>




  <!-- add address field-->
  <p>Add Delivery Address</p>
  <form method="POST" action="/add_addr/{{user['id']}}">
      <div class="form-group">
          <input type="street_num" class="form-control" name="street_num" placeholder="Enter Street Number">
          <input type="street_name" class="form-control" name="street_name" placeholder="Enter Street Name">
          <input type="city" class="form-control" name="city" placeholder="Enter City">
          <input type="state" class="form-control" name="state" placeholder="Enter State">
          <input type="zip_code" class="form-control" name="zip_code" placeholder="Enter Zip code">
      </div>

        <input type="submit" name="add_addr" value="Add delivery address">
  </form>
  </br>
  </br>
 <!--
  <p>Delete Address:</p>
    <form method="POST" action="/delete_address">
      <select id="address" class="selectpicker form-control">
        {% for address in get_customer_addresses_todict(user['id']) %}
        <option value="{{ address['id'] }}">{{ address_dict_to_str(user['id'],address['id']) }}</option>
        {% endfor %}
      </select>
      <input type="submit" value="submit" />
    </form> -->
  </br>
  <table>
      <thead>
        <tr>
          <th>Card Number</th>
          <th>Street Number</th>
          <th>Street Name</th>
          <th>City</th>
          <th>State</th>
          <th>Zip Code</th>
          <th>Edit address</th>
		  <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <!-- python function that iterates through every single address for the customer-->

        {% for card in get_customer_cards_todict(user['id']) %}
        <tr>
          <th>{{ card['card_num'] }}</th>
          <th>{{ card['street_num'] }}</th>
          <th>{{ card['street_name'] }}</th>
          <th>{{ card['city'] }}</th>
          <th>{{ card['state'] }}</th>
          <th>{{ card['zip'] }}</th>
          <th>
            <form method="GET" action="/editcard/{{ card['id'] }}/">
              <input type = "submit" value = "Edit card" />
            </form>
			<form method="POST" action="/delete_card/{{ card['id'] }}/">
              <input type = "submit" value = "Delete card" />
            </form>
          </th>

        </tr>
       {% endfor %}
      </tbody>
    </table>

  <!-- add card field-->
  <p>Add Card</p>
   <form method="POST" action="/add_card/{{user['id']}}">
      <div class="form-group">
          <input type="card" class="form-control" name="card" placeholder="Enter Card Number">
          <input type="street_num" class="form-control" name="street_num" placeholder="Enter Street Number">
          <input type="street_name" class="form-control" name="street_name" placeholder="Enter Street Name">
          <input type="city" class="form-control" name="city" placeholder="Enter City">
          <input type="state" class="form-control" name="state" placeholder="Enter State">
          <input type="zip_code" class="form-control" name="zip_code" placeholder="Enter Zip code">
      </div>
      <input type="submit" name="add_card" value="Add card">
  </form> 
    </br>
    </br>

   <!-- <p>Delete Card:</p>
    <form method="POST" action="/delete_card">
      <select id="card" class="selectpicker form-control">
        {% for card in get_customer_cards_tostr(user['id']) %}
        <option value="{{ card['id'] }}">{{ card }}</option>
        {% endfor %}
      </select>
      <input type="submit" value="Delete Card" />
    </form> -->
  </br>
{{ delivery_id }}


    <form method="POST" action="/nav">
      <input type="submit" name="submit_button" value="Go To Cart">
      <input type="submit" name="submit_button" value="Go To Store">
    </form>
	
	
</body>

</html>
