<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title> Account Information </title>
  </head>
  <body>
    <header>
      <div class="container">
        <h1 class="logo">My Cart</h1>
        <strong><nav>
          <ul class="menu">
            <li><a href="{{ url_for('login') }}">Home</a></li>
            <li><a href="{{ url_for('login') }}">Account</a></li>
          </ul>
        </nav></strong>
      </div>
    </header>
    <h1> this is the cart page </h1>
  </body>
</html>
