<!DOCTYPE html>
<html lang="en">

<!--This page is supposed to:
                            display product list
                            delivery current address and current card info
                                Filter by state
                                add to cart button
                                filter by name field
                                filter by type
                                go to cart
                                Go to account
-->
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title> Shopping Page </title>
  </head>
  <body>
    <header>
      <div class="container">
        <h1 class="logo">Shopping</h1>
      </div>
    </header>
        <h1><center>Products</center></h1>

        <!-- this is the products list -->
        {% for state in getstate(user['id']) %}
          {{state['state']}}
        {% endfor %}
        <table>
            <thead>
              <tr>
                <th>Product ID</th>
                <th>Name</th>
                <th>Nutrition Information</th>
                <th>Cost</th>
                <th>Add to Cart</th>
              </tr>
            </thead>
            <tbody>
              <!-- python function that iterates through every single product in product list-->
              {% for product in getproducts(user['id']) %}
              <tr>
                <th>{{ product['price.pid'] }}</th>
                <th>{{ product['name'] }}</th>
                <th>{{ product['nutrition_facts'] }}</th>
                <th>{{ product['price.price'] }}</th>
                <!-- <form method="POST">
                    <div class="form-group">
                        <input type="quantity" class="form-control" name="new_quantity" placeholder="Enter Quantity to add to cart">
                    </div>
                    python function that checks that it is a quantity
                    <button>Submit</button> -->
                </form>
              </tr>
             {% endfor %}
            </tbody>
          </table>

  </body>
  </html>
