<!DOCTYPE html>
<html lang="en">

<!--This page is supposed to:
                            display product list
                                Filter by state
                                add to cart button
                                filter by name field
                                filter by type
                                go to cart
                                Go to account
-->
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title> Shopping Page </title>
  </head>
  <body>
    <header>
      <div class="container">
        <h1 class="logo">Shopping</h1>
      </div>
    </header>
        <h1><center>Products</center></h1>

        <!-- this is the products list -->
        <form action="/request_filtered_list" method="POST">
          <INPUT TYPE="Checkbox" Name="food" Value ="Food">Food
          <INPUT TYPE="Checkbox" Name="beverages" Value ="Beverage">Beverage
          <input type = "submit" value = "submit"/>
        </form>

        <form method="POST">
            <p>Search for item by name:</p>
            <div class="form-group">
                <input type="text" class="form-control" name="product_name" placeholder="Enter item name">
            </div>
            <input type = "submit" value = "submit" />
        </form>


      </br>
      </br>
        <table>
            <thead>
              <tr>
                <th>Product ID</th>
                <th>Name</th>
                <th>Nutrition Information</th>
                <th>Cost</th>
                <th>Add to Cart</th>
              </tr>
            </thead>
            <tbody>
              <!-- python function that iterates through every single product in product list-->
              {% for product in getproducts(user['id'], type) %}
              <tr>
                <th>{{ product['products.id'] }}</th>
                <th>{{ product['name'] }}</th>
                <th>{{ product['nutrition_facts'] }}</th>
                <th>{{ product['price'] }}</th>
                <th><form method="POST">
                    <div class="form-group">
                        <input type="number" class="form-control" name="new_quantity" placeholder="Enter Quantity to add to cart" min ="0">
                    </div>
                    <input type = "submit" value = "submit" />
                </form></th>
              </tr>
             {% endfor %}
            </tbody>
          </table>
          <!--<button method="GET">Go to Account </button>
          <button method="GET">Go to Cart</button>-->
          <form method="POST" action="/nav">
            <input type="submit" name="submit_button" value="Go To Account">
            <input type="submit" name="submit_button" value="Go To Cart"></form>

  </body>
  </html>
