<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  <title> Edit Information </title>
  <!--  Edit functionality -->
</head>
<body>
  <header>
    <div class="container">
      <h1 class="logo">Edit Information</h1>
    </div>
  </header>

  {% if delivery_id %}
  <!-- show what the delivery id is  -->
  <h4><u> Selected Address: </h4></u>
  <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Street Number</th>
            <th>Street Name</th>
            <th>City</th>
            <th>State</th>
            <th>Zip Code</th>
          </tr>
        </thead>
        <tbody>
          <!--gets addresses to display  -->
          {% for address in get_one_customer_address_todict(user['id'], delivery_id) %}
          <tr>
            <th>{{ delivery_id }}</th>
            <th>{{ address['street_num'] }}</th>
            <th>{{ address['street_name'] }}</th>
            <th>{{ address['city'] }}</th>
            <th>{{ address['state'] }}</th>
            <th>{{ address['zip'] }}</th>
          </tr>
         {% endfor %}
        </tbody>
      </table>

      <h4><u>Edit Delivery Address</h4></u>
  <!--<form method="POST" action="/update_address/{{ get_one_customer_address_todict(user['id'], delivery_id)['id'] }}">
    <div class="form-group">
      <input type="street_num" class="form-control" name="new_address" placeholder="Enter Street Number">
      <input type="stree_name" class="form-control" name="new_address" placeholder="Enter Street Name">
      <input type="city" class="form-control" name="new_address" placeholder="Enter City">
      <input type="state" class="form-control" name="new_address" placeholder="Enter State">
      <input type="zip_code" class="form-control" name="new_address" placeholder="Enter Zip code">
    </div>
    <input type="submit" value="Update Address" />
</form>-->

  {% for address in get_one_customer_address_todict(user['id'], delivery_id) %}

      <form method="POST" action="/update_address/{{delivery_id}}">
         <div class="form-group">
             <p>Street Number<input value="{{ address['street_num'] }}" name="street_num"></p><br>
             <p>Street Name<input value="{{ address['street_name'] }}" name="street_name"></p><br>
             <p>City<input value="{{ address['city'] }}" name="city"></p><br>
             <p>State<input value="{{ address['state'] }}" name="state"></p><br>
             <p>Zip<input value="{{ address['zip'] }}" name="zip"></p><br>
         </div>
         <input type="submit" name="submit_change_address" value="Submit Change">
      </form><br>
    {% endfor %}


  {% endif %}


  {% if card_id %}

<!-- show what the card id is  -->
<h4><u> Selected Card: </h4></u>
<table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Card Number</th>
            <th>Street Number</th>
            <th>Street Name</th>
            <th>City</th>
            <th>State</th>
            <th>Zip Code</th>
          </tr>
        </thead>
        <tbody>
          <!--gets cards to display  -->
          {% for card in get_one_customer_card_todict(user['id'], card_id) %}
          <tr>
            <th>{{ card['id'] }}</th>
            <th>{{ card['card_num'] }}</th>
            <th>{{ card['street_num'] }}</th>
            <th>{{ card['street_name'] }}</th>
            <th>{{ card['city'] }}</th>
            <th>{{ card['state'] }}</th>
            <th>{{ card['zip'] }}</th>
          </tr>
         {% endfor %}
        </tbody>
      </table>

      <h4><u> Edit Card: </h4></u>
      {% for card in get_one_customer_card_todict(user['id'], card_id) %}
        <form method="POST" action="/update_card/{{card_id}}">
           <div class="form-group">
               <p>Card Number<input value="{{ card['card_num'] }}" name="card_num"></p><br>
               <p>Street Number<input value="{{ card['street_num'] }}" name="street_num"></p><br>
               <p>Street Name<input value="{{ card['street_name'] }}" name="street_name"></p><br>
               <p>City<input value="{{ card['city'] }}" name="city"></p><br>
               <p>State<input value="{{ card['state'] }}" name="state"></p><br>
               <p>Zip<input value="{{ card['zip'] }}" name="zip"></p><br>
           </div>
           <input type="submit" name="submit_change_card" value="Submit Change">
        </form><br>
      {% endfor %}


  {% endif %}

    <form method="POST" action="/nav">
      <input type="submit" name="submit_button" value="Go To Cart">
      <input type="submit" name="submit_button" value="Go To Store">
    </form>
</body>

</html>
