<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  <title> Edit Product </title>
  <!--  Edit functionality -->
</head>
<body>
  <header>
    <div class="container">
      <h1 class="logo">Edit Product</h1>
    </div>
  </header>
<h1> {{product}} </h1>
<h1> {{product[0][2]}} </h1>

      <p>Selected Product</p>
       <form method="POST" action="/staff_update_product">
          <div class="form-group">
              <!-- <input type="product_id" class="form-control" name="product_id" value="{{product['product.id']}}"> -->
              <input value="{{product[0][0]}}" readonly name="product_id">
              <input value="{{product[0][1]}}" readonly name="name">
              <input type="nutrition_facts" class="form-control" name="nutrition_facts" value="{{product[0][2]}}">
              <input type="price" class="form-control" name="price" value="{{product[0][3]}}">
              <input value="{{product[0][4]}}" readonly name="state"">
          </div>
          <input type="submit" name="submit_change" value="Submit Change">
      </form>



</body>

</html>
