<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  <title> Edit Product </title>
  <!--  Edit functionality -->
</head>
<body>
  <header>
    <div class="container">
      <h1 class="logo">Edit Product</h1>
    </div>
  </header>

      <p>Selected Product</p>
       <form method="POST" action="/staff_update_product/">
          <div class="form-group">
              <!-- <input type="product_id" class="form-control" name="product_id" value="{{product['product.id']}}"> -->
              <p>id<input value="{{product[0]['products.id']}}" readonly name="product_id"></p><br>
              <p>name<input value="{{product[0]['name']}}" name="name"></p><br>
              <p>nutrition info<input value="{{product[0]['nutrition_facts']}}" name="nutrition_facts"></p><br>
              <p>type<input value="{{product[0]['type']}}" name="type"></p><br>
              <p>size<input value="{{product[0]['size']}}"  name="size"></p>
          </div>
          <input type="submit" name="submit_change_product" value="Submit Change">
      </form>

      <p>Selected Product Price</p>
       <form method="POST" action="/staff_update_price/">
          <div class="form-group">
              <!-- <input type="product_id" class="form-control" name="product_id" value="{{product['product.id']}}"> -->
              <p>price_id<input value="{{product[0]['price.id']}}" readonly name="price_id"></p><br>
              <p>product_id<input value="{{product[0]['pid']}}" readonly name="product_id"></p><br>
              <p>price<input value="{{product[0]['price']}}"  name="price" ></p><br>
              <p>state<input value="{{product[0]['state']}}" readonly name="state"></p>
          </div>
          <input type="submit" name="submit_change_price" value="Submit Change">
      </form>



</body>

</html>
