<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title> Order Successful </title>
  </head>
  <body>
    <header>
      <div class="container">
        <h1 class="logo">Order Submitted</h1>
      </div>
    </header>

      <h3> Your order has been submitted </h3>
      <form method="POST" action="/nav">
        <input type="submit" name="submit_button" value="Go To Account">
        <input type="submit" name="submit_button" value="Go To Store">
      </form>

  </body>

</html>
