
<!doctype html>
<!--This page is supposed to:
                            display cart
                            display quantity
                            delivery current address and current card info
                                update order information buttons
                                Edit quantity buttons
                                Submit order button
                                Continue shopping -> back to shopping page button
                                Go to account
-->
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>CSProject</title>
  </head>
  <body>
    <header>
      <div class="container">
        <h1 class="logo">Orders</h1>
      </div>
    </header>
            <p>
                <span>Order</span>
            </p>

          <p>


            <span>Shopping Cart</span><br>
            <table>
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Quantity</th>
                    <th>Cost</th>
                  </tr>
                </thead>
                <tbody>
                  {% for cartitem in getcartitem(user['id']) %}
                  <tr>
                    <th>{{ cartitem['products.name'] }}</th>
                    <th>{{ cartitem['cart.quantity'] }}</th>
                    <th>{{ cartitem['price.price'] }}</th>
                    <th>
                      <form method="GET" action="/delete_from_cart">
                        <input type = "submit" value = "Remove" />
                      </form>
                    </th>
                  </tr>
                 {% endfor %}
                </tbody>
              </table>

                <!--<form method="POST">
                    <div class="form-group">
                        <input type="quantity" class="form-control" name="new_quantity" placeholder="Edit quantity">
                    </div>
                    python function that checks that it is a quantity
                    <button>Submit</button>
                </form>-->



                <!--Select Delivery Address for Order-->


                <h4> Deliver To: </h4> 
                <select>
                    <!--python fucntion and sql query call that shows every delivery address on file

                        the select tags is a drop down menu-->
                        <option value="address1">Address 1</option>
                        <option value="address2">Address 2</option>
                </select>
                <form method="POST">
                    <div class="form-group">
                        <input type="street_num" class="form-control" name="new_address" placeholder="Enter Street Number">
                        <input type="stree_name" class="form-control" name="new_address" placeholder="Enter Street Name">
                        <input type="city" class="form-control" name="new_address" placeholder="Enter City">
                        <input type="state" class="form-control" name="new_address" placeholder="Enter State">
                        <input type="zip_code" class="form-control" name="new_address" placeholder="Enter Zip code">
                    </div>
                    <button>add new delivery address</button>
                        <!-- idk ? should refresh the page so that the drop down also has the added delivery address-->
                </form>



                <!--Select Card for Order-->

                <h4> Pay With: </h4>

                <select>
                    <!--python fucntion and sql query call that shows every card on file

                        the select tags is a drop down menu-->
                        <option value="card1">Card 1</option>
                        <option value="card2">Card 2</option>
                </select>
                <form method="POST">
                    <div class="form-group">
                        <input type="card" class="form-control" name="new_card" placeholder="Enter Card Number">
                        <input type="street_num" class="form-control" name="new_card" placeholder="Enter Street Number">
                        <input type="stree_name" class="form-control" name="new_card" placeholder="Enter Street Name">
                        <input type="city" class="form-control" name="new_card" placeholder="Enter City">
                        <input type="state" class="form-control" name="new_card" placeholder="Enter State">
                        <input type="zip_code" class="form-control" name="new_card" placeholder="Enter Zip code">
                    </div>
                    <button>add new card</button>
                </form>

                <button>submit order</button>

          </p>

          <button>back to store catalog</button>
          <button>Go to Account</button>
  </body>
</html>
