
<!doctype html>
<!--This page is supposed to:
                            display cart
                            display quantity
                            delivery current address and current card info
                                update order information buttons
                                Edit quantity buttons
                                Submit order button
                                Continue shopping -> back to shopping page button
                                Go to account
-->
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>CSProject</title>
  </head>
  <body>
    <header>
      <div class="container">
        <h1 class="logo">Orders</h1>
      </div>
    </header>
            <p>
                <span>Order</span>
            </p>

          <p>

              <span>Shopping Cart</span><br>
              <table>
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Quantity</th>
                      <th>Cost</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for cartitem in getcartitem(user['id']) %}
                    <tr>
                      <th>{{ cartitem['products.name'] }}</th>
                      <th>{{ cartitem['cart.quantity'] }}</th>
                      <th>{{ cartitem['price.price'] }}</th>
                      <th>
                        <form method="GET" action="/delete_from_cart/{{ cartitem['products.id'] }}/{{user['id']}}/ {{cartitem['cart.quantity']}} ">
                          <input type = "submit" value = "Remove" />
                        </form>
                      </th>
                    </tr>
                   {% endfor %}
                  </tbody>
                </table>

                <p>
                  Total cost: {{get_cart_total(user['id'])}}
                </p>

                  <!--Select Delivery Address for Order-->


                  <h4> Deliver To: </h4>
                  <form method="POST" action="/submit_order/">
                  <select name="selected_address_state">
                      <!--python fucntion and sql query call that shows every delivery address on file-->
                      {% for address in get_customer_addresses_todict(user['id']) %}
                      <option value="{{ address['state'] }}">{{ address_dict_to_str(user['id'],address['id']) }}</option>
                      {% endfor %}
                  </select>



                  <!--Select Card for Order-->

                  <h4> Pay With: </h4>

                  <select name="selected_card">
                      <!--python fucntion and sql query call that shows every card on file
                          the select tags is a drop down menu-->
                          {% for card in get_customer_cards_tostr(user['id']) %}
                          <option value="{{ card }}">{{ card }}</option>
                          {% endfor %}
                  </select>


                  <br>
                  <!--Submit button: redirect to order succesful page, add order to customer order's table,
                  drop cart items, update warehouse stock -->

                    <input type="submit" name="submit_order" value="Submit Order">
                </form>

          </p>

          <form method="POST" action="/nav">
            <input type="submit" name="submit_button" value="Go To Account">
            <input type="submit" name="submit_button" value="Go To Store">
          </form>
  </body>
</html>
