<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title> Staff </title>
  </head>
  <body>
    <header>
      <div class="container">
        <h1 class="logo">Products</h1>
      </div>
    </header>

    <form action="/request_filtered_list_staff" method="POST">
      <INPUT TYPE="Checkbox" Name="food" Value ="Food">Food
      <INPUT TYPE="Checkbox" Name="beverages" Value ="Beverage">Beverage
      <input type = "submit" value = "submit"/>
    </form>
    <!-- filter by state -->
    <!--<form method="GET" action="/filter_by_state">
      <select name="state" class="selectpicker form-control">
        <option value="Test">"test"</option>
      </select>
      <input type="submit" value="submit" />
    </form>-->

    <form action="/request_product_staff" method="POST">
        <p>Search for item by name:</p>
        <input type="text" class="form-control" name="product_name" placeholder="Enter item name">
        <input type = "submit" value = "submit" />
    </form>
  </br>
  </br>
    <table>
        <thead>
          <tr>
            <th>Product ID</th>
            <th>Name</th>
            <th>Nutrition Information</th>
            <th>Cost</th>
            <th>State</th>
            <th>Edit Product</th>
          </tr>
        </thead>
        <tbody>
          {% if not name %}

          <!-- python function that iterates through every single product in product list for your state-->

          {% for product in getallproduct(user['id']) %}
          <tr>
            <th>{{ product['products.id'] }}</th>
            <th>{{ product['name'] }}</th>
            <th>{{ product['nutrition_facts'] }}</th>
            <th>{{ product['price'] }}</th>
            <th>{{ product['state'] }}</th>
            <th>
              <form method="GET" action="/edit_product/{{product['products.id']}}/{{product['state']}}/">
                <input type = "submit" value = "edit" />
              </form>
            </th>

          </tr>
         {% endfor %}
         {% endif %}


         <!-- If the request includes a name -->
         {% if name %}

         {% for product in getproduct(user['id'], name) %}
         <tr>
          <th>{{ product['products.id'] }}</th>
          <th>{{ product['name'] }}</th>
          <th>{{ product['nutrition_facts'] }}</th>
          <th>{{ product['price'] }}</th>
          <th>{{ getstate(user['id'])[0]['state'] }}</th>
          <th>
          </th>

        </tr>

        {% endfor %}

        {% endif %}


        </tbody>
      </table>

      <!--Navigation to Account and Cart-->
      <form method="POST" action="/nav_staff">
        <input type="submit" name="submit_button" value="Warehouses">
      </form>

  </body>

</html>
