<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title> Warehouses </title>
  </head>
  <body>
    <header>
      <div class="container">
        <h1 class="logo">Warehouses</h1>
        <strong><nav>
          <ul class="menu">
            <li><a href="{{ url_for('staff') }}">Home</a></li>
            <li><a href="{{ url_for('warehouse') }}">Warehouses</a></li>
          </ul>
        </nav></strong>
      </div>
    </header>

      <h3> will display all warehouses here, clicking on warehouse will bring to chosen warehouse page </h3>

  </body>

</html>
