<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title> Selected Warehouse </title>
  </head>
  <body>
    <header>
      <div class="container">
        <h1 class="logo">Warehouse {{warehouse['id']}}</h1>
      </div>
    </header>

    <table>
        <thead>
          <tr>
            <th>Warehouse ID</th>
            <th>street_num</th>
            <th>Nstreet_name</th>
            <th>city</th>
            <th>state</th>
            <th>zip</th>
            <th>storage_capacity</th>
          </tr>
        </thead>
        <tbody>


          {% for product in get_warehouse_a(warehouse['id']) %}
          <tr>
            <th>{{ warehouse['warehouse.id'] }}</th>
            <th>{{ warehouse['street_num'] }}</th>
            <th>{{ warehouse['street_name'] }}</th>
            <th>{{ warehouse['city'] }}</th>
            <th>{{ warehouse['state'] }}</th>
            <th>{{ warehouse['zip'] }}</th>
            <th>{{ warehouse['storage_capacity'] }}</th>
            <th>
              <form method="GET" action="/goto_warehouse/{{ warehouse['warehouse.id'] }}">
                <input type = "submit" value = "Display Stock" />
              </form>
            </th>

          </tr>
         {% endfor %}

  </body>

</html>
