<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title> Warehouses </title>
  </head>
  <body>
    <header>
      <div class="container">
        <h1 class="logo">Warehouses</h1>
      </div>
    </header>

    <table>
        <thead>
          <tr>
            <th>Warehouse ID</th>
            <th>street_num</th>
            <th>street_name</th>
            <th>city</th>
            <th>state</th>
            <th>zip</th>
            <th>storage_capacity</th>
            <th></th>
          </tr>
        </thead>
        <tbody>


          {% for warehouse in get_warehouses() %}
          <tr>
            <th>{{ warehouse['id'] }}</th>
            <th>{{ warehouse['street_num'] }}</th>
            <th>{{ warehouse['street_name'] }}</th>
            <th>{{ warehouse['city'] }}</th>
            <th>{{ warehouse['state'] }}</th>
            <th>{{ warehouse['zip'] }}</th>
            <th>{{ warehouse['storage_capacity'] }}</th>
            <th>
              <form method="GET" action="/goto_warehouse/{{ warehouse['id'] }}">
                <input type = "submit" value = "Go To Warehouse" />
              </form>
            </th>

          </tr>
         {% endfor %}
         <!-- go back to staff homepage -->
         <form method="POST" action="/nav_staff">
           <input type="submit" name="go_home" value="Home">
         </form>


  </body>
</html>
