<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title> Selected Warehouse stock </title>
  </head>
  <body>
    <header>
      <div class="container">
        <h1 class="logo">Warehouse {{warehouse_id}} stock</h1>
      </div>
    </header>


    <table>
        <thead>
          <tr>
            <th>Product ID</th>
            <th>name</th>
            <th>quantity</th>
          </tr>
        </thead>
        <tbody>

<!-- lol -->
          {% for warehouse_a_stock in get_warehouse_a_stock(warehouse_id) %}
          <tr>
            <th>{{ warehouse_a_stock['stock.pid'] }}</th>
            <th>{{ warehouse_a_stock['products.name'] }}</th>
            <th>{{ warehouse_a_stock['stock.quantity'] }}</th>
            <th>
                <form method="GET" action="/change_quantity/{{warehouse_a_stock['pid']}}/{{warehouse_id}}">
                  <input type="number" class="form-control" name="product_quantity" min ="1" value="{{warehouse_a_stock['quantity']}}">
                  <input type = "submit" value = "change quantity" />
                </form>
            </th>
            <th>
              <form method="GET" action="/delete_warehouse_stock/{{warehouse_a_stock['pid']}}/{{ warehouse_id }}">
                <input type = "submit" value = "Delete Item" />
              </form>
            </th>

          </tr>
         {% endfor %}

  </body>

</html>
